{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<!DOCTYPE html>
<head>
    <div class="container-fluid">
        <h2>BDAT 1004 Group 1 Project</h2>
    </div>
</head>
<body>
    <br>
    <div class="background" align="middle">
        <img src="/static/images/home-page-image.jpg">
    </br>
    <br>
    <p>This website illustrates what we are capable of for your company's project.</p>
    <p>We have used Python, Flask, Chart.js, MongoDB Atlas, MongoDB Realm, Google Cloud Platform, and more!</p>
    </br>
    </div>

<center>© 2021 Copyright BDAT 1004 Group 1 Project</center>
</body>
</html>

{% endblock %}